 {% extends 'base.html' %}

{% block content %}


<div class="container mt-5 mb-5">

    <h3 class="mb-3">Hi, this blog is about an Indian Food.</h3>

    <div class="row">

        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.InlgltnGNwj7W93dJ_oQ_gHaEQ%26pid%3DApi&f=1" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">BreakFast</h5>
                  <p class="card-text"> Dosa is even more delicious to eat, along with its side dishes like sambar and chutney. Dosa can be taken as breakfast and an evening snack food, too.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  
                  
                </div>
              </div>
             

        
        </div>



        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.EQrQcUFokXjSEjjR7GT2DgHaE8%26pid%3DApi&f=1" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Black Tea</h5>
                  <p class="card-text"> Cancer is one of fatal diseases and to prevent the risk of cancer, drink black tea is a great option. .</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
    </div>




    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.E3y5gHy-b4P_S-IszmmJJwHaE6%26pid%3DApi&f=1" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sea Food</h5>
              <p class="card-text">A nice spicy fish fry can be eaten on its own as an appetizer or starter or goes well with rice too..</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>



          </div>



        

</div>


{% endblock%}